.post__container {
    width: 622px;
    background-color: white;
    margin-top: 14px;
    border: 1.5px solid #F1F2F6;
    border-radius: 8px;
}

.post {
    margin-top: 21px;
    margin-left: 32px;
    width: 558px;
    position: relative;
}

.author {
    display: flex;
    flex-flow: inherit;
}

.author img {
    width: 56px;
    height: 56px;
}

.author__inform {
    margin-top: 8px;
    margin-left: 17px;
}

.author__name {
    font-weight: 500;
    font-size: 15px;
    color: #203758;
}

.time__post {
    font-size: 11px;
    line-height: 13px;
    color: #788292;
}

.post__content {
    font-size: 14px;
    color: #203758;
    margin-top: 14px;
    line-height: 26px;
}

.post__content a {
    color: #1877F2;
}

.post__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 8vh);
    grid-gap: 9px;
    margin-top: 16px;
}

.gallery__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item:last-child {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__reviews {
    position: relative;
    margin-top: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.reviews__container {
    display: flex;
    width: 121px;
}