.message_user {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 25px;
}

.user__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 13px 40px;
    height: 50px;
    background-color: #1A66FF;
    border-radius: 10px;
    position: relative;
}

.user__text:before {
    position: absolute;
    content: '';
    top: 10px;
    right: -15px;
    border: 20px solid transparent;
    border-bottom: 20px solid #1A66FF;
    border-radius: 2px;
}

.user__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.25);
}
