.chat {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
}

.chat__title {
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

.messages {
    margin: 35px 90px;
    flex-grow: 1;
}

.chat__footer {
    flex-grow: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: 35px 0;
    width: 80%;
    margin: 0 auto;
}

.inputs__container {
    display: flex;
    justify-content: center;
}

.input__typing {
    background: #E0E0E0;
    border-radius: 10px;
    width: 675px;
    height: 45px;
}

.input__audiotext {
    width: 45px;
    height: 45px;
    background: #1A66FF;
    border-radius: 10px;
    margin-left: 20px;
}