.news__container {
    margin-left: 29px;
    position: relative;
}

.status__bar {
    width: 622px;
    height: 55px;
    border: 1.5px solid #F1F2F6;
    border-radius: 8px;
    background-color: #FFFFFF;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #788292;
}

.arrow {
    position: absolute;
    top: 18px;
    right: 17px;
    width: 18px;
    height: 15px;
    transform: rotate(-90deg);
}

.arrow div {
    position: relative;
    top: 7.5px;
    width: 18px;
    height: 1px;
    background-color: #788292;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left: 0;
    display: block;
}

.arrow div::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: 2.5px;
    right: -0.7px;
    background-color: #788292;
    transform: rotate(-45deg);
}

.arrow div::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: -3px;
    right: -0.5px;
    background-color: #788292;
    transform: rotate(45deg);
}
