main {
    grid-area: content;
    margin: 0 auto;
    width: 1150px;
    display: flex;
}


.navbar {
    margin-right: 175px;
    height: 100%;
}

.users__container {
    margin: 38px 36px;
    width: 100%;
}

.users__title {
    font-weight: 700;
    font-size: 19px;
}

.users {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 9px;
}