.header {
    grid-area: header;
    background-color: white;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    color: #788292;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    grid-column: 2/3;

}

.links li {
    margin: 0 20px;
}

.search {
    justify-self: end;
    grid-column: 4/5;
    display: flex;
    align-items: center;
    margin-right: 13px;
}

.avatar {
    grid-column: 5/6;
    margin-right: 17px;
}

.avatar img {
    width: 40px;
}