.onlineContacts__container {
    width: 274px;
    margin-top: 35px;
  }
  
  .onlineContacts_title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .onlineContacts__title {
    font-weight: 500;
    font-size: 17px;
    color: #203758;
    position: relative;
  }
  
  .onlineContacts__title::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 142px;
    background-color: #23BE7E;
    height: 5px;
    width: 5px;
    border-radius: 25px;
  }
  
  .onlineContacts_content_wrapper {
    background: #FFFFFF;
    border: 1.5px solid #F1F2F6;
    border-radius: 8px;
    width: 100%;
    padding-top: 2px;
    padding-left: 23px;
    margin-top: 15px;
  }
  
 
  