.stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-top: 15px;
  }
  
  .social__wrapper {
    margin-left: 29px;
  }
  
  .friends__storie {
    background-image: url(https://img2.akspic.ru/originals/6/2/5/0/3/130526-prostranstvo-kosmos-art-zhivopis-astronavt-1080x1920.jpg);
    width: 115px;
    height: 210px;
    border-radius: 8px;
    border: 1.5px solid #f1f2f6;
    background-size: 115px 210px;
    position: relative;
  }
  
  .friends__storie::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115px;
    height: 117px;
    background: linear-gradient(180deg, rgba(120, 130, 146, 0) 7.29%, #788292 100%);
    mix-blend-mode: multiply;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  
  .author__wrapper {
    height: 83px;
    position: absolute;
    bottom: 0;
    width: 115px;
  }
  
  .author__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .avatar__user {
    width: 40px;
    /* border: 2.5px solid #1877F2; */
    border-radius: 20px;
  }
  
  /* .avatar__container {
    width: 42.5px;
    height: 42.5px;
    content: "";
    opacity: 0.8;
    border: 2px solid #FFF;
    box-sizing: border-box;
    background: #FFFFFF;
    filter: drop-shadow(-6px 13px 13px rgba(24, 136, 242, 0.6));
    border-radius: 20px;
  } */
  
  .user__name {
    margin-top: 6px;
    color: white;
    font-size: 13px;
    line-height: 16px;
  }