 .discussion__button {
   width: 102px;
   height: 31px;
   background: #F0F7FF;
   border-radius: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .discussion__button_title {
   margin-left: 5px;
 }