@font-face {
  font-family: "Montcerat";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Montcerat";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}


body {
  background-color: #F1F2F6;
  font-family: "Montcerat";
  font-weight: 300;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "navbar header header"
    "navbar content content"
    "navbar content content";
}

/* ------------------ */
/* HEADER */
/* ------------------ */

.header {
  grid-area: header;
  background-color: white;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  color: #788292;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  grid-column: 2/3;

}

.links li {
  margin: 0 20px;
}

.search {
  justify-self: end;
  grid-column: 4/5;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.avatar {
  grid-column: 5/6;
  margin-right: 17px;
}

.avatar img {
  width: 40px;
}

/* ------------------ */
/* HEADER END */
/* ------------------ */

/* ------------------ */
/* NAVBAR */
/* ------------------ */
.nav {
  grid-area: navbar;
  background-color: white;
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1.5px solid #F1F2F6;
}

.social_logo {
  margin: 0 auto;
  display: block;
  height: 70px;
}

.links_menu {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links_menu li {
  margin-top: 31px;

}

/* ------------------ */
/* NAVBAR END */
/* ------------------ */
.content-wrapper {
  margin: 22px 0 0 106px;
  grid-area: content;
  display: flex;
}

/* ------------------ */
/* Discussion */
/* ------------------ */

.discussion-container {
  width: 274px;
  height: 214px;
  background-color: white;
  border: 1.5px solid #F1F2F6;
  border-radius: 8px;
}

.discussion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.discussion__logotyps img {
  width: 50px;
  height: 50px;
}

.discussion__title {
  margin-top: 12px;
  font-weight: 500;
  color: #203758;
  font-size: 15px;
}

.discussion__status {
  margin-top: 8px;
  font-size: 11px;
  color: #788292;
}

.discussion__buttons {
  margin-top: 19px;
  display: flex;
  flex-direction: row;
}

.discussion__button {
  width: 102px;
  height: 31px;
  background: #F0F7FF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discussion__button_margin_10px {
  margin-right: 10px;
}

.discussion__button-title {
  margin-left: 5px;
}

.call-svg {
  position: relative;
  top: 2px;
}

/* ------------------ */
/* Discussion END */
/* ------------------ */

/* ------------------ */
/* OnlineContacts */
/* ------------------ */
.onlineContacts-container {
  width: 274px;
  margin-top: 35px;
}

.onlineContacts-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.onlineContacts-title {
  font-weight: 500;
  font-size: 17px;
  color: #203758;
  position: relative;
}

.onlineContacts-title::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 142px;
  background-color: #23BE7E;
  height: 5px;
  width: 5px;
  border-radius: 25px;
}

.onlineContacts-content-wrapper {
  background: #FFFFFF;
  border: 1.5px solid #F1F2F6;
  border-radius: 8px;
  width: 100%;
  padding-top: 2px;
  padding-left: 23px;
  margin-top: 15px;
}

.onlineContacts__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #F1F2F6;
  margin-top: 9px;
}

.onlineContacts__item img {
  width: 42px;
  height: 42px;
  margin-right: 14px;
}

.friend-name {
  font-size: 13px;
  color: #788292;
}

/* ------------------ */
/* OnlineContacts END */
/* ------------------ */

/* ------------------ */
/* News */
/* ------------------ */
.news-container {
  margin-left: 29px;
  position: relative;
}

.status-bar {
  width: 622px;
  height: 55px;
  border: 1.5px solid #F1F2F6;
  border-radius: 8px;
  background-color: #FFFFFF;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #788292;
}

.arrow {
  position: absolute;
  top: 18px;
  right: 17px;
  width: 18px;
  height: 15px;
  transform: rotate(-90deg);
}

.arrow div {
  position: relative;
  top: 7.5px;
  width: 18px;
  height: 1px;
  background-color: #788292;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  left: 0;
  display: block;
}

.arrow div::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 2.5px;
  right: -0.7px;
  background-color: #788292;
  transform: rotate(-45deg);
}

.arrow div::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: -3px;
  right: -0.5px;
  background-color: #788292;
  transform: rotate(45deg);
}

.post-container {
  width: 622px;
  background-color: white;
  margin-top: 14px;
  border: 1.5px solid #F1F2F6;
  border-radius: 8px;
}

.post {
  margin-top: 21px;
  margin-left: 32px;
  width: 558px;
  position: relative;
}

.author {
  display: flex;
}

.author img {
  width: 56px;
  height: 56px;
}

.author-inform {
  margin-top: 8px;
  margin-left: 17px;
}

.author-name {
  font-weight: 500;
  font-size: 15px;
  color: #203758;
}

.time-post {
  font-size: 11px;
  line-height: 13px;
  color: #788292;
}

.post-content {
  font-size: 14px;
  color: #203758;
  margin-top: 14px;
  line-height: 26px;
}

.post-content a {
  color: #1877F2;
}

.post-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 8vh);
  grid-gap: 9px;
  margin-top: 16px;
}

.gallery__item:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item:last-child {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-reviews {
  position: relative;
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.reviews-container {
  display: flex;
  width: 121px;
}

.reviews-wrapp {
  display: flex;
  align-items: start;
}

.wrapp-counter {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  color: #788292;
  opacity: 0.5;
  margin-left: 4px;
  margin-right: 13px;
}

/* ------------------ */
/* News END */
/* ------------------ */

/* ------------------ */
/* Social */
/* ------------------ */
.stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 15px;
}

.social-wrapper {
  margin-left: 29px;
}

.friends-storie {
  background-image: url(https://img2.akspic.ru/originals/6/2/5/0/3/130526-prostranstvo-kosmos-art-zhivopis-astronavt-1080x1920.jpg);
  width: 115px;
  height: 210px;
  border-radius: 8px;
  border: 1.5px solid #f1f2f6;
  background-size: 115px 210px;
  position: relative;
}

.friends-storie::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 115px;
  height: 117px;
  background: linear-gradient(180deg, rgba(120, 130, 146, 0) 7.29%, #788292 100%);
  mix-blend-mode: multiply;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.author-wrapper {
  height: 83px;
  position: absolute;
  bottom: 0;
  width: 115px;
}

.author-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.avatar-user {
  width: 40px;
  /* border: 2.5px solid #1877F2; */
  border-radius: 20px;
}

/* .avatar-container {
  width: 42.5px;
  height: 42.5px;
  content: "";
  opacity: 0.8;
  border: 2px solid #FFF;
  box-sizing: border-box;
  background: #FFFFFF;
  filter: drop-shadow(-6px 13px 13px rgba(24, 136, 242, 0.6));
  border-radius: 20px;
} */

.user-name {
  margin-top: 6px;
  color: white;
  font-size: 13px;
  line-height: 16px;
}