@font-face {
  font-family: "Moncerat";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}


body {
  background-color: #F1F2F6;
  font-family: "Moncerat";
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "navbar header header"
    "navbar content content"
    "navbar content content";
}

/* ------------------ */
/* HEADER */
/* ------------------ */

.header {
  grid-area: header;
  background-color: white;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  color: #788292;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  grid-column: 2/3;

}

.links li {
  margin: 0 20px;
}

.search {
  justify-self: end;
  grid-column: 4/5;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.avatar {
  grid-column: 5/6;
  margin-right: 17px;
}

.avatar img {
  width: 40px;
}

/* ------------------ */
/* HEADER END */
/* ------------------ */

/* ------------------ */
/* NAVBAR */
/* ------------------ */
.nav {
  grid-area: navbar;
  background-color: white;
  width: 75px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1.5px solid #F1F2F6;
}

.social_logo {
  margin: 0 auto;
  display: block;
  height: 70px;
}

.links_menu {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links_menu li {
  margin-top: 31px;

}

/* ------------------ */
/* NAVBAR END */
/* ------------------ */

/* ------------------ */
/* Discussion */
/* ------------------ */
.content-wrapper {
  margin: 22px 0 0 106px;
  grid-area: content;
}

.discussion-container {
  width: 274px;
  height: 214px;
  background-color: white;
}

.discussion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.discussion__logotyps img {
  width: 50px;
  height: 50px;
}